@import "tailwindcss";

@theme {
  --color-neutral-900: hsl(227, 75%, 14%);
  --color-neutral-800: hsl(226, 25%, 17%);
  --color-neutral-700: hsl(225, 23%, 24%);
  --color-neutral-600: hsl(226, 11%, 37%);
  --color-neutral-300: hsl(0, 0%, 78%);
  --color-neutral-200: hsl(217, 61%, 90%);
  --color-neutral-100: hsl(0, 0%, 93%);
  --color-neutral-0: hsl(200, 60%, 99%);

  --color-r-400: hsl(3, 86%, 64%);
  --color-r-500: hsl(3, 71%, 56%);
  --color-r-700: hsl(3, 77%, 44%);

  --background-gradient-light: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --background-gradient-dark: linear-gradient(180deg, #040918 0%, #091540 100%);
}
body {
  font-family: "Noto sans", sans-serif;
}
